{% extends 'layout.html' %}
{% block title %} Productos {% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('home' ) }}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('users') }}">Users</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ url_for('productos') }}">Productos</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block body %}
    <div>
        <h1>Todos los Productos</h1>
        {% if not productos %}No hay Productos{% endif %}
        {% for productos in productos %}
            <p>{{productos.0}} </p>
            <p>{{productos.1}} </p>
            <p> {{productos.2}} </p>
        {% endfor %}
    </div>
{% endblock %}